* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.8);
    z-index: 10;
}

.logo {
    width: 100px;
    margin-right: 30px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    cursor: pointer;
    font-size: 14px;
}

/* BANNER */
.banner {
    height: 80vh;
    background: url("https://image.tmdb.org/t/p/original/2iQG0Xwzi8P7rP1YzK5e8eZ2d8S.jpg")
    center/cover no-repeat;
    position: relative;
}

.banner-content {
    padding: 200px 50px;
    max-width: 500px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 25px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.play {
    background: white;
    color: black;
}

.info {
    background: rgba(109,109,110,0.7);
    color: white;
}

.fade-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #111, transparent);
}

/* ROWS */
.row {
    margin-left: 40px;
    margin-top: 20px;
}

.row h2 {
    margin-bottom: 10px;
}

.row-posters {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-posters img {
    width: 200px;
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
}

.row-posters img:hover {
    transform: scale(1.1);
}
